<div id="listContainer" class="container isFirstTime">
  <div id="isLoadingNoTouch"></div>
  <div id="isLoading">
    <img src="image/loading.svg" alt="loading">
  </div>
  
  <h3 id="count"></h3>

  <div id="list">
  </div>
  <div id="newItem">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="preview">
          Add new item:
        </h3>
      </div>
    </div>

    <div class="item row">
      <div class="col-xs-2 col-xs-offset-1 image-thumbnail">
        <label id="thumbnailImg" for="inputImg">
          <img class="img-responsive" src="image/thumbnail.png" />
        </label>
      </div> 
      <input class="inputImg" id="inputImg" style="display: none;" type="file" accept=".jpg,.gif,.png" />'
      <div class="col-xs-5">
        <textarea id="description" type="text" name="description" value="Description" maxlength="300"></textarea>
      </div>
      <div class="col-xs-2">
        <p class="btn btn-success add-item" id="submit" style="display:none;">
          Add item
        </p>
      </div>
    </div>
  </div>
</div>